.post {
  margin-bottom: 50px;

  h2,
  img,
  p {
    margin-bottom: 15px;
  }

  p {
    max-width: 800px;
  }
}

.content.single {
  h1,h2,p,img {
    margin-bottom: 20px;
  }
}

.single {
  &__meta-footer {
    margin-top: 50px;
  }
}

.header-blog {
 .text {
   p {
     max-width: 900px;
   }
  }
}
