header .button {
  margin: 0 25px;
}

.button, a.button, input.button[type='submit'] {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  width: auto;
  padding: 13px 31px;
  border: 2px solid white;
  border-radius: 2px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: $pitch-green;
    background: white;
    border: 2px solid $pitch-green;
  }
}

.acf-form {
  margin: 50px 0;
}

.acf-button {
  margin-left: 11px;
  cursor: pointer;
}

.acf-button, .attend-button {
  background: $pitch-green;
}

.acf-button, .attend-button, .acf-form-submit input.button[type='submit'] {
  &:hover {
    border: 2px solid $pitch-green;
  }
}

.orange-button {
  background-color: $pitch-green;
}

.cleanup-button {
  background-color: $pitch-blue-strong;
  border: none !important;
  margin-top: 12px;

  @media(max-width: 650px) {
    font-size: 13px !important;
    padding: 17px 21px !important;
    width: 500px !important;
    max-width: 100%;
  }

  @media (min-width: 651px) {
    font-size: 10px !important;
    padding: 10px 21px !important;
  }
}

.button-wrapper .button {
    margin-bottom: 10px;
}

@media (max-width: 550px) {
  .button {
    min-width: 100%;
    margin: 5px 0 !important;
  }
}
