.cleanup-order-page {
  margin: 50px auto;

  h2 {
    font-size: 20px;
  }
}

.cleanups-without-orders-section {
  margin-bottom: 20px;

  .button {
    margin-top: 10px;
  }
}

.cleanup-woo-product {
  > * {
    display: inline-block;
    width: auto !important;
    margin: 10px 0;
  }

  input {
    margin-right: 10px;
  }

  &:first-of-type {
    margin-top: 25px;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.order-note {
  margin-bottom: 25px;
}
