.cleanup-group {
  max-width: 700px;

  h2 {
    font-size: 1.25em;
    margin-bottom: .5em;
  }

  .row {
    margin-bottom: 2.5em;
  }
}

.cleanup-list-title {
  margin-bottom: 20px;
}

#response {
  margin-top: -20px;
  padding-bottom: 20px;
}
