// .page-id-77 {
//   .main-content {
//     margin-top: -75px;
//   }
// }

input:not(.btn), textarea {
    padding: 10px 15px;
    border: 1px solid #eaeaea;
    width: 100%;
}

.wpcf7-inline-wrapper .wpcf7-inline-field {
    width: 49.7%;
    display: inline-block;
    vertical-align: top;
        padding: 0px 9px 0px 9px;
    box-sizing: border-box;
}

.wpcf7-text {
    width: 100%;
}

.wpcf7-inline-wrapper .wpcf7-inline-field:first-child {
    padding-left: 0px;
}


.wpcf7-inline-wrapper .wpcf7-inline-field:last-child {
    padding-right: 0px;
}

form p {
    margin: 18px 0px 0px 0px;
    margin-top: 18px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.btn-accent {
    color: #ffffff !important;
    background-color: #0ca26c !important;
    border-color: #0ca26c !important;
}

.btn, .btn-link {
    display: inline-block;
    font-size: 12px;
    padding: 13px 31px 13px 31px !important;
    font-style: normal !important;
    text-align: center;
    vertical-align: middle;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    background-image: none;
    border: 1px solid;
    border-radius: 2px;
    outline: none;
    white-space: pre-wrap;
    -webkit-text-stroke: 0px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.buttons-style, input[type="submit"], input[type="reset"], input[type="button"], button[type="submit"], .btn, .btn-link, .nav-tabs, .panel-title > a span, .search_footer, .wc-forward, .wc-forward a {
    font-weight: 600 !important;
    font-family: !important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
