$menu-bp: 1100px;

body {
  padding-top: 93px;
}

.admin-bar .menu-main-wrapper {
  top: 32px;
}

.menu-main-wrapper {
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  // height: 100px;
  // border-bottom: 1px solid rgba(234,234,234,1);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
  position: fixed;
  top: 0;
  z-index: 101;
  background: white;

  > .grid {
    background: white;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inner,
  .menu-wrap-hide,
  .menu-main,
  .menu-main-menu-container,
  .menu,
  .menu li,
  .menu li a,
  .menu-icons,
  .menu-icons ul,
  .menu-icons li {
    height: 100%;
  }

  .menu-wrap-hide {
    margin-top: auto;
  }

  .menu-icons > ul {
    display: flex;

    .menu-item {
      cursor: pointer;
    }
    .fa-shopping-cart {
      position: relative;
    }
    .cart-icon {
      position: relative;
      &__badge {
        // color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 800;
        font-family: sans-serif;
        text-align: center;
        padding: 5px;
        // width: 20px;
        // height: 20px;
        position: absolute;
        bottom: 80%;
        left: 80%;
        // background: $pitch-green;
        // border-radius: 100%;
      }
    }
    .badge-hidden {
      display: none;
    }
    li {
      display: flex;
      align-items: center;
      position: relative;

      .sub-menu {
        height: auto !important;
        right: 0;
        font-size: 0.75em;
        white-space: nowrap;
        color: black;
        left: auto;

        li:hover {
          color: $pitch-green;
        }
      }
    }
  }

  li {
    a {
      line-height: 66px;
    }
  }

  .logo {
    img {
      height: 75px;
      // margin: 2.5px 0;
      width: auto;
    }
    margin-right: auto;
  }

  li {
    display: inline-block;
    letter-spacing: 0.75px;

    a {
      padding: 0 16px;
      display: inline-block;
      height: 100%;
    }
  }

  .menu-item {
    color: $charcoal;
    position: relative;
    a,
    a:visited,
    a:active,
    a:link {
      color: inherit;
    }
    &:hover {
      color: $pitch-green;

      .sub-menu {
        visibility: visible;
        // transition-delay: 0s;
      }
    }
  }

  .current-menu-item {
    > a,
    > a:visited,
    > a:active,
    > a:link {
      color: $pitch-green;
    }
  }

  .sub-menu {
    visibility: hidden;
    // transition: .2s all;
    // transition-delay: .1s;
    position: absolute;
    left: -10px;
    bottom: 15px;
    transform: translateY(100%);
    background: white;
    z-index: 1;
    width: auto;
    overflow: visible;
    padding: 10px;
    @media (min-width: $menu-bp) {
      padding: 10px 40px 10px 0;
    }
    border: 1px solid rgba(234, 234, 234, 1);
    li {
      height: auto !important;
      font-weight: normal;
      width: 100%;

      a {
        line-height: 2.25;
        width: 100%;
        white-space: nowrap;
        padding: 0 26px;
      }
    }
  }

  .menu-item-has-children {
    position: relative;
    margin-right: 10px;
    &:after {
      content: "\f107";
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      font-family: "FontAwesome";
      font-weight: normal;
      line-height: 1;
    }
  }
}

.menu-main {
  display: inline-block;
  // border-right: 1px solid rgba(234,234,234,1);
  .highlight {
    background: $pitch-green;
    background: $blue-highlight;
    // background: $blue-highlight-2;
    letter-spacing: 2px;

    // border-top: 23px solid $pitch-green;

    &,
    &:hover,
    &:active,
    &:visited,
    & a {
      color: white !important;
    }

    // &:last-child {
    //   margin-right: 14px;
    // }
  }
}

@media (max-width: $menu-bp) {
  .menu-wrap-hide {
    position: absolute;
    top: 100px;
    background: white;
    height: auto !important;
    width: 100%;
    left: 0;
    overflow: auto;
    max-height: calc(100vh - 100px);
  }

  .sub-menu {
    position: relative !important;
    display: none;
  }
}

@media (max-width: $menu-bp) {
  .menu-main-wrapper .menu-main {
    background: white;
    width: auto;
    right: 0;
    height: auto;
    width: 100%;
    margin-top: 25px;

    li {
      display: block;
      width: 100%;
      text-align: right;

      a {
        line-height: 45px;
      }
    }
  }

  .menu-icons {
    margin: 20px 0 40px;
    float: right;
  }
}

// .menu-main, .menu-icons {
//   padding: 0 36px;
// }

.menu-main {
  // margin-right: -14px;
}

.menu-icons {
  // margin-left: 14px;
  display: inline-block;
  font-size: 18px;
  // @media (min-width: $menu-bp) {
  // border-left: 1px solid #eaeaea;
  // }
  li {
    padding: 0 7px;
  }
}

.mobile-menu-button {
  position: relative;
  padding: 27px 36px 27px 36px;
  cursor: pointer;
}

.menu-wrap-hide {
  display: none;
}

@media (min-width: $menu-bp) {
  .mobile-menu-button {
    display: none;
  }

  .menu-wrap-hide {
    display: flex;
  }
}

.lines,
.lines::before,
.lines::after {
  display: inline-block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-clip: padding-box;
  background-color: $charcoal;
  position: absolute;
  content: "";
}

.lines::before {
  top: 6px;
}

.lines::after {
  top: -6px;
}

.fa-bag {
  position: relative;
}

// .itemcount {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 15px;
//   width: 15px;
//   line-height: 15px;
//   text-align: center;
//   transform:translate(50%, -50%);
//   font-family: sans-serif;
//   font-size: 12px;
//   background: $pitch-green;
//   color: white;
//   border-radius: 50%;
// }

.topbar {
  background: $pitch-green-darker;
  .grid {
    display: flex;
    justify-content: flex-end;
  }
}

.lang {
  text-transform: uppercase;
  display: flex;
  background: #157451;
  align-items: center;
  margin-left: 10px;
  padding: 0 5px;
  > * {
    padding: 0 5px;
  }
  .lang__current {
    color: white;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}

@media (min-width: 400px) {
  .logo {
    height: 103px;
    margin-top: -28px;
    background: white;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-bottom: -10px;
    border-radius: 0 0px 10px 10px;
  }
}
