$tab-break: 875px;

.tab-selector {
  background-color: $pitch-blue-strong;
  height: 48px;
  position: relative;
  z-index: 100;

  .grid {
    height: 100%;
  }

  .mobile-wrap {
    @media (max-width: $tab-break) {
      display: flex;
      display: none;
      flex-direction: column;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);

      .tab-selector-item-plus {
        display: none;
      }
    }
  }

  .right {
    display: flex;
    float: right;
    color: white;
    align-items: center;
    height: 100%;
    font-size: 12px;
    background: $pitch-blue-strong;

    @media (max-width: $tab-break) {
      padding: 20px;
      flex-direction: column;
    }

    a {
      color: white;
      text-decoration: underline;
      margin-left: 10px;
    }

    .button {
      padding: 8px 31px;
      margin-left: 20px;
      @media (max-width: $tab-break) {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}

.tab-selector-item, .tab-selector-item-highlight, .tab-selector-item-plus {
  display: inline-block;
  color: $light !important;
  cursor: pointer;
  padding: 1em 1.5em;
  @media (min-width: $tab-break) {
    margin-right: -5px;
  }
  font-size: .9rem;
  transition: .2s background-color;
  background-color: $pitch-blue-strong-lighter;
  height: 48px;
}

.tab-selector-item-highlight:last-child {
  color: white;
}

.tab-selector-item.active {
  background-color: $light;
  color: $dark !important;
}

.tab-selector-item-plus {
  background: $grey-blue-2;
  color: white;
  position: relative;
}

.tab-selector-item-plus-two {
  color: #1d4cf4;
}

a.tab-selector-item {
  color: white;
}

.tab-dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 150px;
  display: none;
  padding-left: 0 !important;

  li {
    list-style-type: none;
    margin-bottom: -1px;
  }

  a:hover {
    background-color: $grey-blue-2;
  }

  a {
    width: 100%;
  }
}

.tab-selector-item-plus:hover {
  .tab-dropdown {
    display: block;
  }
}

@media (min-width: $tab-break) {
  .mobile-only {
    display: none;
  }
}

.tab-selector-mobile-menu-button {
  @media (min-width: $tab-break) {
    display: none;
  }
  position: relative;
  height: 100%;
  max-height: 48px;
  cursor: pointer;


  .lines, .lines::before, .lines::after {
    background-color: white;
  }

  .lines {
    transform: translateY(-50%);
    top: 50%;
    right: 5%;
  }
}

.page-template-template-all-cleanups {
  @media (max-width: $tab-break) {
    .mobile-wrap {
        transform: translateY(-100%);
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
    }

    .tab-selector {
      z-index: 120;

      .button {
        text-align: center;
      }
    }
  }
}
