.quantity {
  display: inline-block;
}

.woocommerce {
  button,
  .add_to_cart_button,
  .product_type_external,
  .wc-backward {
    text-align: center;
    border: 2px solid transparent !important;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    width: 60%;
  }
}

.qty {
  width: 4.5em !important;
}

.woocommerce-ordering select {
  padding: 5px 10px !important;
}

.single_add_to_cart_button,
.checkout-button,
#place_order {
  background: #00b572 !important;
  border: 2px solid #00b572 !important;
  &:hover {
    background: #008858 !important;
    border: 2px solid #008858 !important;
  }
}

.woocommerce .related ul li.product img,
.woocommerce .related ul.products li.product img {
  width: 60%;
}

.woocommerce ul.products li.first,
.woocommerce-page ul.products li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.woocommerce-product-gallery__trigger {
  display: none;
}
