.two-column > *:first-child {
  margin-bottom: 40px; }

@media (min-width: 1100px) {
  .two-column {
    display: -ms-flexbox;
    display: flex; }
    .two-column > * {
      -ms-flex: 1;
          flex: 1; }
    .two-column--offset-right > *:nth-child(2) {
      -ms-flex-positive: 2;
          flex-grow: 2; } }

/*# sourceMappingURL=two-column.css.map */
