// $pitch-green: #00A676;
// $pitch-green: #00B572;
$pitch-green: #0ca26c;
$pitch-green-darker: #008858;
$pitch-green-2: #64DBAD;
$pitch-green-3: #C1FCE5;

$pitch-blue: #99D0FC;

// $orange: #ffa114;
$orange: #f19814;

$my-cleanup: #ccb829;

$pitch-blue-strong: #1D4CF4;
$pitch-blue-strong-lighter: #5077ff;
$blue-highlight: #2165db;
$blue-highlight-2: #2b5dec;

$light: white;
// $dark: #1E1E24;
$dark: #555555;

$offwhite: #f9f9f9;

$grey-blue: #828298;
// $grey-blue-2: #656582;
$grey-blue-2: #2d5afb;

$light-grey: #f9f9f9;

$black: rgb(48, 49, 51);

$red: #FF7575;

$charcoal: #303133;

/* global box-sizing */
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
  font-family: "Sans serif", helvetica;
  font-size: 12px;
  // color: $pitch-green;
  color: $black;
}

h2 {
  font-size: 1.85em;
  // text-transform: capitalize;
}

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
	&:before,
	&:after {
        content: " ";
        display: table;
    }

	&:after {
        clear: both;
    }
}

/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
html {
    font-size: 100%;
    height:100%;
    min-height:100%;
}

body {
    font: 400 15px/1.4 sans-serif;
    margin: 0;
    height:100%;
    min-height:100%;
}

.main-content {
  // min-height: calc(80vh - 100px - 140px);
  margin-bottom: 100px;
}

.grid {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}

.content.grid {
  margin: 50px auto 100px auto;
  @extend .clearfix;
}

.main-content > .content {
  min-height: 50vh;
}

.thin-grid {
  max-width: 950px;
  margin: 50px auto 100px auto;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 23, 0.33);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a:link, a, a:active, a:visited {
  color: #1d4cf4;
}

.spacer {
  height: 25px;
}

.hidden {
  display: none;
}

label {
  cursor: pointer;
}
