img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 30px 0;
}

.center-text {
  text-align: center !important;

  .inner.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .text {
      margin: 0 auto;
    }
    img {
      margin: 0 auto;
      display: block;
    }
  }
}

.bg-light-grey {
  background: $light-grey;
}

.all-but-footer {
  min-height: calc(100vh - 93px - 93px);
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.mrg-b-0 {
  margin-bottom: 0;
}
